<script lang="ts">
	import { onMount, afterUpdate } from "svelte";
	import GoChevronUp from "svelte-icons/go/GoChevronUp.svelte";
	import GoChevronDown from "svelte-icons/go/GoChevronDown.svelte";
	import { fade } from "svelte/transition";

	export let label = "";
	export let options: { id: number; value: string; name: string }[] = [];
	export let selectedValue = "";
	let hidden = false;

	onMount(() => {
		if (options.length > 0) {
			selectedValue = options[0].value;
		}
	});

	const onSelect = (value: string) => {
		hidden = true;
		selectedValue = value;
	};
</script>

<div class="dropdown">
	<span class="container">
		<div class="label">{label}</div>
		<a
			class="dropdown-button"
			on:mousedown={() => (hidden = !hidden)}
			on:blur={() => (hidden = true)}
			href="#"
		>
			<span>{selectedValue}</span>
			<span
				class="icon"
				style="--transform:{`rotate(${
					hidden ? 0 : 180
				}deg) translateY(${hidden ? 0 : -1}px)`}"
			>
				<GoChevronDown />
			</span>
		</a>
		<div class="options" style="--display:{hidden ? 'none' : 'block'}">
			<ul>
				{#each options as option (option.id)}
					<li>
						<a
							class="option"
							on:mousedown={() => onSelect(option.value)}
							href="#"
						>
							{option.name}
						</a>
					</li>
				{/each}
			</ul>
		</div>
	</span>
</div>

<style>
	.dropdown {
		min-width: 100px;
		margin-left: 5px;
	}

	.container {
		position: relative;
		display: inline-block;
		width: 100%;
		
		font-size: 13px;
	}

	.label {
		font-size: 12px;
		color: #fff;
		margin-bottom: 5px;
	}

	a {
		text-decoration: none;
	}

	.dropdown-button {
		color: #fff;
		box-shadow: 0px 0px 0px 1px #535353 inset;
		border-radius: 6px;
		display: inline-block;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 16px;
		padding-right: 12px;
	}

	.dropdown-button:hover {
		box-shadow: 0 0 0 4px rgb(107, 107, 107);
	}

	.icon {
		display: inline-block;
		width: 12px;
		height: 12px;
		transform: var(--transform);
		transition: all 200ms ease;
		margin-left: 10px;
	}

	ul {
		list-style: none;
		padding: 8px 0;
		margin: 0;
	}

	li {		
		padding: 0;
		margin: 0;
	}

	.options {
		border-radius: 8px;
		border: 1px solid rgba(0, 0, 0, 0.05);
		box-shadow: 0px 3px 5px rgb(0 0 0 / 4%);
		background-color: #fff;
		z-index: 2;
		display: var(--display);
		position: absolute;
		left: 0;
		top: calc(100% + 8px);
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}

	.option {
		display: block;
		padding: 8px 15px;
		font-size: 13px;
		color: #6e6d7a;
	}

	.option:hover {
		background-color: #e7e7e9;
	}
</style>
