<script lang="ts">
	export let label = "";
	export let accept = "";
	export let result = "";

	let fileName = "";
	const readFile = (e: Event) => {
		if (e && e.currentTarget) {
			const fileInput = e.currentTarget as HTMLInputElement;
			if (fileInput.files && fileInput.files.length >= 1) {
				const file = fileInput.files[0];
				fileName = file.name;
				const fileReader = new FileReader();
				fileReader.onload = () => {
					result = fileReader.result as string;
				};
				fileReader.readAsDataURL(file);
			}
		}
	};

	const fileInput: HTMLInputElement = document.createElement("input");
	fileInput.type = "file";
	fileInput.accept = accept;
	fileInput.addEventListener("change", readFile);

	const uploadFile = () => fileInput.click();
</script>

<div class="file-picker">
	<div class="label">{label}</div>
	<div class="container">
		<div class="file-name">{fileName ? fileName : "No file chosen"}</div>
		<button on:click={uploadFile}>Browse...</button>
	</div>
</div>

<style>
	.file-picker {
		display: flex;
		flex-direction: column;
		margin-left: 5px;
	}

	.label {
		font-size: 12px;
		color: #fff;
		margin-bottom: 2px;
	}

	.container {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 200px;
		border-radius: 4px;
		border: 1px dashed #fff;
		padding: 5px;
	}

	.file-name {
		font-size: 12px;
		color: #818181;
		flex-grow: 1;
	}

	button {
		border-radius: 2px;
		padding: 5px;
		border: none;
		outline: none;
		cursor: pointer;
		background-color: #ffffff;
	}

	button:hover {
		background-color: #4169e1;
	}
</style>
