<script lang="ts">
	export let label = "";
	export let value = 1;
	export let min = "1";
	export let max = "100";
</script>

<div class="number-input">
	<div class="label">{label}</div>
	<div class="container">
		<input
			type="number"
			{min}
			{max}
			{value}
			on:change={(e) => (value = parseInt(e.currentTarget.value))}
		/>
	</div>
</div>

<style>
	.number-input {
		display: flex;
		flex-direction: column;
		margin-left: 5px;
	}

	.label {
		color: #fff;
		font-size: 12px;
		margin-bottom: 5px;
	}

	.container {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	input {
		background-color: #ffffff;
		width: 100%;
		border-radius: 2px;
		padding: 5px;
		border: none;
		outline: none;
		cursor: pointer;
		text-align: center;
	}
</style>
