<script lang="ts">
	import FaRedo from "svelte-icons/fa/FaRedo.svelte";
</script>

<button on:click>
	<div class="icon">
		<FaRedo />
	</div>
</button>

<style>
	.icon {
		width: 24px;
		height: 24px;
	}
</style>
