<script lang="ts">
	import FaPlayCircle from "svelte-icons/fa/FaPlayCircle.svelte";
</script>

<button on:click>
	<div class="icon">
		<FaPlayCircle />
	</div>
</button>

<style>
	.icon {
		width: 24px;
		height: 24px;
	}
</style>