<script lang="ts">
	import FaStopCircle from "svelte-icons/fa/FaStopCircle.svelte";
</script>

<button on:click>
	<div class="icon">
		<FaStopCircle />
	</div>
</button>

<style>
	.icon {
		width: 24px;
		height: 24px;
	}
</style>
