<script lang="ts">
	import { onMount } from "svelte";
	import DropDown from "./components/DropDown.svelte";
	import ResetButton from "./components/ResetButton.svelte";
	import StartButton from "./components/StartButton.svelte";
	import StopButton from "./components/StopButton.svelte";
	import FIlePicker from "./components/FIlePicker.svelte";
	import NumberInput from "./components/NumberInput.svelte";

	import { drawCircle } from "./logic/draw-circle";
	import { rgbToHex } from "./logic/utils";

	import type { Brush, SourceImage } from "./logic/utils";

	const brush: Brush = {
		shape: "circle",
		batchSize: 1,
		min: 2,
		max: 20,
		colorList: [],
		filter: 11,
	};

	const image: SourceImage = {
		width: 0,
		height: 0,
	};

	const brushShapes = [
		{ id: 0, value: "circle", name: "circle" },
		{ id: 1, value: "square", name: "square" },
		{ id: 2, value: "star", name: "star" },
	];

	let batchSize = 1;
	let filter = 11;
	let canvas: HTMLCanvasElement;
	let canvas2: HTMLCanvasElement;
	let canvas3: HTMLCanvasElement;
	let ctx: CanvasRenderingContext2D;
	let ctx2: CanvasRenderingContext2D;
	let ctx3: CanvasRenderingContext2D;
	let colorList: Set<string> = new Set();
	let isStarted = false;
	let delay: number;
	let interval: any;
	let imageSource: HTMLImageElement = document.createElement("img");
	imageSource.onload = () => getImageData(imageSource);

	onMount(() => {
		ctx = canvas.getContext("2d") as CanvasRenderingContext2D;
		ctx2 = canvas2.getContext("2d") as CanvasRenderingContext2D;
		ctx3 = canvas3.getContext("2d") as CanvasRenderingContext2D;

		window.addEventListener("resize", resizeCanvas, false);
		resizeCanvas();
	});

	const resizeCanvas = (): void => {
		const width = window.innerWidth / 3.3;
		const height = window.innerHeight / 2;
		canvas.width = width;
		canvas.height = height;
		canvas2.width = width;
		canvas2.height = height;
		canvas3.width = width;
		canvas3.height = height;

		resetCanvas(false);
		scaleImage(imageSource);
	};

	const resetCanvas = (resetColorList: boolean): void => {
		ctx.clearRect(0, 0, canvas.width, canvas.height);
		ctx2.clearRect(0, 0, canvas2.width, canvas2.height);
		ctx3.clearRect(0, 0, canvas3.width, canvas3.height);
		isStarted = false;
		if (resetColorList) {
			colorList = new Set();
		}
	};

	const getImageData = (img: HTMLImageElement) => {
		scaleImage(img);
		const imageData = ctx.getImageData(0, 0, image.width, image.height)
			.data;
		generateColorList(imageData);
	};

	const scaleImage = (img: HTMLImageElement) => {
		const scale = Math.min(
			canvas.width / img.width,
			canvas.height / img.height
		);
		image.width = img.width * scale;
		image.height = img.height * scale;
		ctx.drawImage(img, 0, 0, image.width, image.height);
	};

	const generateColorList = (imageData: Uint8ClampedArray) => {
		for (let i = 0; i < imageData.length; i += 4) {
			const red = imageData[i];
			const green = imageData[i + 1];
			const blue = imageData[i + 2];
			const color = rgbToHex(red, green, blue);
			colorList.add(color);
		}
		brush.colorList = [...colorList];
	};

	const batchDrawShape = () => {
		switch (brush.shape) {
			case "circle":
				drawCircle(brush, image, [ctx, ctx2, ctx3]);
				break;
		}
	};

	const start = () => {
		if (!isStarted && brush.colorList.length > 0) {
			isStarted = true;
			interval = setInterval(() => {
				batchDrawShape();
			}, delay);
		}
	};

	const stop = () => {
		if (isStarted) {
			isStarted = false;
			clearInterval(interval);
		}
	};

	const reset = () => {
		stop();
		resetCanvas(imageSource.src ? false : true);
		scaleImage(imageSource);
	};
</script>

<div class="App">
	<div class="App-header">
		<div class="group-1">
			<FIlePicker
				label="Source image"
				accept="image/*"
				bind:result={imageSource.src}
			/>
			<DropDown
				label="Brush shape"
				options={brushShapes}
				bind:selectedValue={brush.shape}
			/>
			<NumberInput label="Brush min size" bind:value={brush.min} />
			<NumberInput label="Brush max size" bind:value={brush.max} />
			<NumberInput label="Batch size" bind:value={batchSize} />
			<NumberInput label="Delay" bind:value={delay} />
			<NumberInput label="Filter" bind:value={filter} />
		</div>
		<div class="group-2">
			<StartButton on:click={start} />
			<StopButton on:click={stop} />
			<ResetButton on:click={reset} />
		</div>
	</div>
	<div class="App-container">
		<canvas bind:this={canvas} />
		<canvas bind:this={canvas2} />
		<canvas bind:this={canvas3} />
	</div>
</div>

<style>
	:global(body) {
		background-color: #353535;
		margin: 0;
		font-family: Arial, Helvetica, sans-serif;
		height: 100%;
	}

	.App {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.App-header {
		display: flex;
		flex-direction: row;
		border-bottom: 1px solid #232222;
		padding: 10px 0;
		box-shadow: 0 0 10px 0px #1b1b1b;
	}

	.group-1 {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	.group-2 {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-grow: 1;
	}

	.App-container {
		margin-top: 10px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
	}

	canvas {
		border: 1px #c0c0c0 dashed;
	}
</style>
